<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to "Sort by Top", top_path, method: :get, class:"btn btn-secondary", type: "button" %>
  <%= link_to "Sort by Fresh", fresh_path, method: :get, class:"btn btn-secondary", type: "button" %>
  <%= link_to "Sort by Dank", dank_path, method: :get, class:"btn btn-secondary", type: "button" %>
</div>
