<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>

<% @posts.each do |p| %>
  <div class="post">
  <%= p.title %>
  <%= link_to p.user.display_name, user_path(p.user)  %>
  <%= link_to image_tag(p.image.url), post_path(p) %></div>
<% end %>
